# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Data (VERY IMPORTANT)
data/

# Models
models/

# Reports
reports/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db